title: "Blog Proyecto 1 – Computación y Sociedad"
description: "Análisis de noticias tecnológicas y su impacto en la sociedad costarricense"
baseurl: "" 
url: ""     

theme: minima   
markdown: kramdown

plugins:
  - jekyll-feed